form(role='form', name='formUser', ng-submit='saveForm()')
  .col-md-4
    .row
      .col-md-12
        .form-group
          label Nome
          input.form-control(type='text', data-ng-model='user.name', required='')
      .col-md-12
        .form-group
          label Login
          input.form-control(type='text', data-ng-model='user.login', required='')
      .col-md-12
        .form-group
          label Senha
          input.form-control(type='password', data-ng-model='user.password', required='')
  .col-md-12
    .form-group
      button.btn.btn-success  Salvar
