h2 Gerenciar Usuários
.row
  .col-md-12.form-group
     include btns/btn.novo.jade
.row
  .col-md-12
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Name
            th Login
            th
        tbody
          tr(data-ng-repeat='user in users')
            td
              a(href='/users/{{ user._id }}')  {{ user.name }} 
            td {{ user.login }}
            td(width='7%', align='center', class='group-btns')
              a.btn.btn-primary.btn-xs(href='/users/editar/{{ user._id }}', title='Editar')
                i.fa.fa-pencil
              a.btn.btn-danger.btn-xs(href='javascript:void(0);', data-ng-click='remove(user)', title='Excluir')
                i.fa.fa-times
