h2 Visualizar Usuário \#{{ user.name }}
.row
  .col-md-12.form-group.group-btns
     include btns/btn.novo.jade
        a.btn.btn-warning.btn-sm(href='/users/editar/{{ user._id }}', title='Editar')
             i.fa.fa-pencil
     include btns/btn.voltar.jade
.row
  .col-md-12
    .table-responsive
      table.table.table-bordered
        tbody
          tr(data-ng-repeat='(key, value) in user')
            td(width='30%')
              strong {{ key }}
            td {{ value }}
