h2 Dashboard
h3 Sistema de gest&atilde;o de conte&uacute;do
  p Este software foi desenvolvido para gerenciar apresenta&ccedil;&atilde;o de senhas e conte&uacute;do como playlist de audio, video, rss, etc.
  p
    i D&uacute;vidas e sugest&otilde;es enviar email para suporte técnico.
  small Desenvolvido por
    strong
        a(href='http://spider.com.br')  Spider Tecnologia
    br
    strong Email:
        a(href='mailto: assistenciatecnica@spider.com.br')  assistenciatecnica@spider.com.br
