extends layout/login

block content
    #login-box.form-box
       .header Acesso Restrito
       form(role='form', data-ng-submit='submit()', data-ng-controller='LoginController')
           .body.bg-gray
               .form-group
                   input.form-control(type='text', data-ng-model='user.login', placeholder='Úsuario', required='required', autofocus='autofocus')
               .form-group
                   input.form-control(type='password', data-ng-model='user.password', placeholder='Senha', required='required')
               .form-group
                   input(type='checkbox', data-ng-model='user.remember')
                   |  Manter-me conectado
           .footer
               button.btn.bg-blue.btn-block(type='submit') Entrar
