*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
	font-family: "Helvetica LT 97 Black Condensed";
	src: url('/css/font/Helvetica LT 97 Black Condensed.eot');
	src: local('Helvetica LT 97 Black Condensed'),
	url('/css/font/Helvetica LT 97 Black Condensed.eot?#iefix') format('embedded-opentype'),
	url('/css/font/Helvetica LT 97 Black Condensed.woff') format('woff'),
	url('/css/font/Helvetica LT 97 Black Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


html, body { height:100%; }

* html .container { height: 100%; }

body {
	color:#fff;
	font-size: 100%;
	line-height: 1.5;
	font-family: "Helvetica LT 97 Black Condensed", Helvetica, sans-serif;
	text-align:center;
	overflow: hidden;
}

.container {
    position:relative;
	margin:0 auto;
	width: 100%;
	height: 100%;
}

.header {
	background:#999;
	text-align:center;
	height: 120px;
	position: absolute;
	top:0;
	width: 100%;
	display: table;
	border-bottom: 0.2em solid;
	z-index: 1;
}

.header h1{
	display: table-cell;
	vertical-align: middle;
	height: auto;
}

.content {
	width:68%;
	position: absolute;
	text-align:center;
	background: #0086f5;
	left: 0;
	top: 120px;
	bottom: 100px;
	height: auto;
	border-top: 0.2em solid;
	border-bottom: 0.2em solid;
	border-right: 0.2em solid;
}

.content .player {
	width: 100%;
	height: 100%;
}

.call-fullscreen{
	background: #0086f5;
	width: 100%;
	height: 100%;
	display: table;
}

.content-full{
	display: table-cell;
    vertical-align: middle;
}

/*color: #fae072;*/
.call-fullscreen h1, .call-fullscreen h2, .call-fullscreen h3{
	margin: 0;
	padding: 0;
}

.call-fullscreen h1, .call-fullscreen h2{
	line-height: 1em;
}

.call-fullscreen .client, .call-fullscreen .queue, .call-fullscreen .pass, .call-fullscreen .point{
	padding: 1em 0;
	letter-spacing: 3px;
}

.sidebar {
	width:32%;
	height: auto;
	position: absolute;
	top:120px;
	bottom: 100px;
	right: 0;
	border-top: 0.2em solid;
	border-bottom: 0.2em solid;
	border-left: 0.2em solid;
}

.sidebar .box{
	width: 100%;
	height: 50%;
	background: #0086f5;
	border: 0;
	text-align: center;
}

.sidebar .box:first-child{
	border-bottom: 0.2em solid;
}

.sidebar .box:last-child{
	border-top: 0.2em solid;
}

.sidebar .box .row {
	display: table;
	width: 100%;
	height: 100%;
}

.sidebar .box .contents{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.sidebar .full {
	height: 100%;
	border: none !important;
}

.sidebar .hide {
	display: none;
}

.footer {
	border-top: 0.2em solid;
	position: absolute;
	bottom: 0;
	width:100%;
	height: 100px;
	font-size: 1.6em;
	text-align:center;
	display: table;
	background: #00569f;
}

.footer .row{
	width:100%;
	display: table-cell;
	vertical-align: middle;
	height: auto;
	padding:0.5em;
}

.hide {
	display: none;
}

.voice {
	display: none;
}

.header,
.content,
.sidebar,
.sidebar,
.sidebar .box:first-child,
.sidebar .box:last-child,
.footer{
	border-color: #fff;
}

.labels{
	color: #fae072;
	font-weight: bold;
}

.values {
	font-size: 5em;
	font-weight: bold;
}

.labels, .values {
	line-height: 0.9em;
	letter-spacing: 0.02em;
	display: block;
}

@media (min-width: 1800px) {
	.labels{
		font-size:4.7em;
	}

	.values{
		font-size: 11em;
	}

	.call-fullscreen h1 {
		font-size:6em;
	}

	.call-fullscreen h2 {
		font-size: 18em;
	}

	.call-fullscreen h3 {
		font-size: 4em;
	}
}

@media (min-width: 1280px) and (max-width: 1680px) {
	.labels{
		font-size:3.5em;
	}

	.values{
		font-size: 9em;
	}

	.call-fullscreen h1 {
		font-size:4em;
	}

	.call-fullscreen h2 {
		font-size: 11em;
	}

	.call-fullscreen h3 {
		font-size: 3.2em;
	}
}

@media (max-width: 1200px) {
	.labels{
		font-size:3em;
	}

	.values{
		font-size:7em;
	}

	.call-fullscreen h1 {
		font-size:4em;
	}

	.call-fullscreen h2 {
		font-size: 11em;
	}

	.call-fullscreen h3 {
		font-size: 3.2em;
	}
}

@media (orientation: portrait) {

	.header {
		position: relative;
		height: 9.8%;
	}

	.content, .sidebar {
		position: relative !important;
		top: 0;
		bottom: 0;
		width: 100%;
		border:none;
		border-top: 0.2em solid;
	}

	.sidebar {
		border-bottom: 0.2em solid;
		display: table;
		height: 25%;
	}

	.sidebar .box {
		width: 50%;
		border: none;
		display: table-cell;
		padding: 4em 2em;
	}
	.sidebar .box:first-child {
		border: none;
		border-right: 0.2em solid;
	}

	.sidebar .box:last-child {
		border: none;
		border-left: 0.2em solid;
	}

	.content{
		display: table;
		border-bottom: 0.2em solid;
		width: 100%;
		height:55.45%;
	}

	.call-fullscreen h1 {
		font-size:4em;
	}

	.call-fullscreen h2 {
		font-size: 11em;
	}

	.call-fullscreen h3 {
		font-size: 3.2em;
	}


	.footer {
		height: 9.8%;
		position: relative;
	}

	@media (min-width: 1080px) {
		.labels{
			font-size:4em;
		}

		.values{
			font-size: 11em;
		}

		.call-fullscreen h1 {
			font-size:7em;
		}

		.call-fullscreen h2 {
			font-size: 16em;
		}

		.call-fullscreen h3 {
			font-size: 4em;
		}
	}

}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

video {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}