form(role='form', name='formDisplay', novalidate='', ng-submit='saveForm()')
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Configuração Gerais
      .panel-body
          .col-md-4
            label Nome do Display
            input.form-control(type='text', data-ng-model='display.name')
          .col-md-4
            label IP
            input.form-control(type='text', data-ng-model='display.address')
          .col-md-4
            label ID
            input.form-control(type='text', data-ng-model='display.id')
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Interface de Atendimento
      .panel-body
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.ia', value='passpoint')
                |  Senha e Ponto de atendimento
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.ia', value='onlypass')
                |  Apenas senha
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.ia', value='onlypoint')
                |  Apenas Ponto de atendimento
          .col-md-4
            .checkbox
              label
                input(type='checkbox', data-ng-model='display.showfullcall')
                |  Exibir interface para chamada de senha
          .col-md-4
            .checkbox
              label
                input(type='checkbox', data-ng-model='display.showlastpassword')
                |  Mostrar últimas senhas
          .col-md-4
            .checkbox
              label
                input(type='checkbox', data-ng-model='display.showalfa')
                |  Exibir alfa
          .col-md-2
            label Digitos para Senha
            input.form-control(type='number', data-ng-model='display.numberpass')
          .col-md-2
            label Digitos PA
            input.form-control(type='number', data-ng-model='display.numberpoint')
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Rótulo para Senha
      .panel-body
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpassword', value='SENHA')
                |  Senha
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpassword', value='COMANDA')
                |  Comanda
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpassword', value='custom')
                input.form-control(type='text', data-ng-model='display.labelpasswordcustom')
          .col-md-12
            small
              strong Obs: Ao personalizar o rótulo, o módulo de voz é desativado!
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Rótulo para ponto de atendimento
      .panel-body
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='BALCÃO')
                |  Balcão
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='BOX')
                |  Box
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='CABINE')
                |  Cabine
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='CAIXA')
                |  Caixa
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='CONSULTÓRIO')
                |  Consultório
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='DOCA')
                |  Doca
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='EQUIPAMENTO')
                |  Equipamento
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='GUICHÊ')
                |  Guichê
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='MACA')
                |  Maca
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='MÁQUINA')
                |  Máquina
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='MESA')
                |  Mesa
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='PRISMA')
                |  Prisma
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='SALA')
                |  Sala
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='VAGA')
                |  Vaga
          .col-md-4
            .radio
              label
                input(type='radio', data-ng-model='display.labelpoint', value='custom')
                input.form-control(type='text', data-ng-model='display.labelpointcustom')
          .col-md-12
            small
              strong Obs: Ao personalizar o rótulo, o módulo de voz é desativado!
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Audio e Voz
      .panel-body
        .col-md-3
          .radio
            label
              input(type='radio', data-ng-model='display.voice', value='beepwithoutsound')
              |  Beep sem voz
        .col-md-3
          .radio
            label
              input(type='radio', data-ng-model='display.voice', value='beepsound')
              |  Beep + voz
        .col-md-3
          .radio
            label
              input(type='radio', data-ng-model='display.voice', value='beepatentionsound')
              |  Beep + "Atenção" + voz
        .col-md-3
          .radio
            label
              input(type='radio', data-ng-model='display.voice', value='beepnextsound')
              |  Beep + "Próximo" + voz
  //- .col-md-12
  //-   .panel.panel-default
  //-     .panel-heading
  //-       strong Layout
  //-     .panel-body
  //-       .col-md-6
  //-         .radio
  //-           label
  //-             select(data-ng-model='display.layout', ng-options='layout.name for layout in layouts')
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong Layout
      .panel-body
        .col-md-2
          label Borda
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.borderColor')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.borderColor }")
        .col-md-12
          hr
          h5
            strong TOPO
        .col-md-2
          label Fundo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.header.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.header.background }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.header.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.header.color }")
        // FIM DO HEADER
        .col-md-12
          hr
          h5
            strong CONTEÚDO
        .col-md-2
          label Fundo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.container.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.container.background }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.container.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.container.color }")
        // FIM CONTEÚDO
        .col-md-12
          hr
          h5
            strong SIDEBAR
        .col-md-2
          label Fundo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.sidebar.box.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.sidebar.box.background }")
        .col-md-2
          label Label
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.sidebar.box.label.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.sidebar.box.label.color }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.sidebar.box.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.sidebar.box.color }")
        // FIM SIDEBAR BOX
        .col-md-12
          hr
          h5
            strong RODAPÉ
        .col-md-2
          label Fundo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.footer.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.footer.background }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.footer.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.footer.color }")
        // FIM RODAPE BOX 1
        .col-md-12
          hr
          h5
            strong CHAMADA FULLSCREEN
        .col-md-2
          label Fundo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.full.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.full.background }")
        .col-md-2
          label Label
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.full.label.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.full.label.color }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.full.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.full.color }")
        // FIM CHAMADA FULLSCREEN
        .col-md-12
          hr
          h5
            strong ÚLTIMAS SENHAS
        .col-md-2
          label Fundo Topo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.lastpass.header.background')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.lastpass.header.background }")
        .col-md-2
          label Cor Texto Topo
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.lastpass.header.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.lastpass.header.color }")
        .col-md-2
          label Label
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.lastpass.label.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.lastpass.label.color }")
        .col-md-2
          label Texto
          .input-group
            input.form-control(colorpicker='hex', type='text', data-ng-model='display.layout.lastpass.color')
            span.input-group-addon
              i(ng-style="{ 'background' : display.layout.lastpass.color }")
  .col-md-12
    .form-group
      button.btn.btn-success  Salvar
