h2 Gerenciar Displays
.row
  .col-md-12.form-group.group-btns
    include btns/btn.novo.jade
.row
  .col-md-12
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Name
            th Address
            th
        tbody
          tr(data-ng-repeat='display in displays')
            td
              a(href='/displays/{{ display._id }}')  {{ display.name }}
            td {{ display.address }}
            td(width='7%', align='center', class='group-btns')
              a.btn.btn-primary.btn-xs(href='/displays/editar/{{ display._id }}', title='Editar')
                i.fa.fa-pencil
              a.btn.btn-danger.btn-xs(href='javascript:void(0);', data-ng-click='remove(display)', title='Excluir')
                i.fa.fa-times