h2 Visualizar Display \#{{ display.name }}
.row
  .col-md-12.form-group.group-btns
    include btns/btn.novo.jade
    a.btn.btn-warning.btn-sm(href='/displays/editar/{{ display._id }}', title='Editar')
      i.fa.fa-pencil
    include btns/btn.voltar.jade
.row
  .col-md-12
    .table-responsive
      table.table.table-bordered
        tbody
          tr(data-ng-repeat='(key, value) in display')
            td(width='30%')
              strong {{ key | realname }}
            td {{ value }}