doctype html
html(data-ng-app='backend')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    title= title
    // bootstrap 3.0.2
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // font Awesome
    link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Ionicons
    link(href='/css/ionicons.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='/css/AdminLTE.css', rel='stylesheet', type='text/css')

    link(href='/css/colorpicker.css', rel='stylesheet', type='text/css')
  body(class='skin-blue')
    // header logo: style can be found in header.less
    header(class='header')
        a(class='logo', href='/admin')= title
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top(role='navigation')
            // Sidebar toggle button
            a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-right
                ul.nav.navbar-nav
                    li
                       a(href='javascript:void(0);', data-ng-click='logout()', data-ng-controller='LogoutController') Sair
    .wrapper.row-offcanvas.row-offcanvas-left
        // Left side column. contains the logo and sidebar
        aside.left-side.sidebar-offcanvas
            // sidebar: style can be found in sidebar.less
            section.sidebar
                // Sidebar user panel
                .user-panel
                    .pull-left.image
                        img.img-circle(src='/img/avatar3.png', alt='User Image')
                    .pull-left.info
                        p Hello, {{ username }}
                        a(href='javascript:void(0);')
                            i.fa.fa-circle.text-success  Online
                // search form
                //- form.sidebar-form(action='#', method='get')
                //-     .input-group
                //-         input.form-control(type='text', name='q', placeholder='Search...')
                //-         span.input-group-btn
                //-             button#search-btn.btn.btn-flat(type='submit', name='seach')
                //-                 i.fa.fa-search
                // Sidebar menu
                ul.sidebar-menu
                    li
                        a(href='/admin')
                            span Dashboard
                    li
                        a(href='/users')
                            span Úsuarios
                    li
                        a(href='/displays')
                            span Displays

        aside.right-side
            // Content Header (Page header)
            section.content-header
                h1 Administração
                //- ol.breadcrumb
                //-    li
                //-        a(href='#') Home
            // Main content
            section.content
               block content
    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // Bootstrap Core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/angular/angular.js')
    script(type='text/javascript', src='/js/lib/angular/angular-route.min.js')
    script(type='text/javascript', src='/js/back/backend.js')
    script(type='text/javascript', src='/js/back/controllers.js')
    script(type='text/javascript', src='/js/back/services.js')
    script(type='text/javascript', src='/js/back/filters.js')
    script(type='text/javascript', src='/js/bootstrap-colorpicker-module.js')
