doctype html
html(data-ng-app='nextone')
  head
    meta(charset='UTF-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    title= title
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body(data-ng-controller="MainController")
    block content
    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', scr='/js/vendor/modernizr-2.6.2.min.js')
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/jplayer.playlist.min.js')
    script(type='text/javascript', src='/js/moment.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/angular/angular.js')
    // script(type='text/javascript', src='/js/lib/angular/angular-animate.min.js')
    script(type='text/javascript', src='/js/front/main.js')
    script(type='text/javascript', src='/js/front/controllers.js')
    script(type='text/javascript', src='/js/front/factories.js')
    script(type='text/javascript', src='/js/front/services.js')
    script(type='text/javascript', src='/js/front/directives.js')
    script(type='text/javascript', src='/js/front/filters.js')
