doctype html
html(class='bg-black', data-ng-app='login')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    title= title
    // bootstrap 3.0.2
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // font Awesome
    link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='/css/AdminLTE.css', rel='stylesheet', type='text/css')
  body(class='bg-black')
    block content
  // jQuery 2.0.2
  script(src='/js/jquery-1.11.1.min.js')
  // Bootstrap
  script(src='/js/bootstrap.min.js', type='text/javascript')
  script(src='/js/lib/angular/angular.min.js', type='text/javascript')
  script(src='/js/back/login.js', type='text/javascript')
  script(src='/js/back/services.js', type='text/javascript')